<div class="image">
  <figure class="figure">
    <%= image_tag image.picture.thumb.url, class: 'figure-img img-fluid rounded'  %>
    <figcaption class="figure-caption">
      <%= image.description %> 
      <%= link_to 'Edit', edit_image_path(image) %>
      <%= link_to 'Destroy', image, method: :delete, data: {confirm: 'Are you sure?'}%>
    </figcaption>
  </figure>
</div>
